<%= form_for(@liquorstore) do |f| %>
  <% if @liquorstore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@liquorstore.errors.count, "error") %> prohibited this liquorstore from being saved:</h2>
      <ul>
      <% @liquorstore.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Nombre" %>
    <%= f.text_field :name, placeholder: "Nombre de la Botillería"%>  
  </div>
 
  <div class="form-group">
    <%= f.label "Dirección" %>
    <%= f.text_field :address, placeholder: "Dirección de la Botillería"%>  
  </div>

  <div class="form-group">
    <%= f.label "Latitud" %>
    <%= f.text_field :latitude%>  
  </div>

  <div class="form-group">
    <%= f.label "Longitud" %>
    <%= f.text_field :longitude%>  
  </div>
  
  <div style="position: relative">
    <div class="form-group">
      <%= f.label "Hora Apertura" %>
      <%= f.text_field :openh, class: 'datetime' %>  
    </div>

    <div class="form-group">
      <%= f.label "Hora Cierre" %>
      <%= f.text_field :closeh, class: 'datetime' %>  
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Agregar botillería', class: "button round" %>
  </div>

<% end %>

<script>  $(function(){ Utilities.calendar();});</script>