<h1><%=@liquorstore.name.capitalize%></h1>

<div id='showmap' data-raw='<%=raw @hash.to_json %>' style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<table class="table table-hover">
  <thead>
		<tr>
			<th>Nombre</th>
			<th>Dirección</th>
			<th>Apertura</th>
			<th>Cierre</th>
		</tr>  	
  </thead>
  <tbody>
		<tr>
			<th><%=@liquorstore.name.capitalize%></th>
			<th><%=@liquorstore.address%></th>
			<th><%=@liquorstore.openh%></th>
			<th><%=@liquorstore.closeh%></th>
		</tr>  	
  </tbody>  
</table>

<script>
	$(function(){ Liquorstore.init('show',$('#showmap').data('raw'));});
</script>
